<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.sabapp.saba">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Required for Android 13+ if you still want direct media access -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:required="false" />

    <application
        android:name=".application.sabaapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:usesCleartextTraffic="true" >
        <activity
            android:name=".onboarding.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Saba">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".onboarding.onboardone"
            android:theme="@style/Theme.Saba"
            android:exported="false" />

        <activity
            android:name=".onboarding.login"
            android:theme="@style/Theme.Saba"
            android:exported="false" />
        <activity
            android:name=".onboarding.chooselogintype"
            android:theme="@style/Theme.Saba"
            android:exported="false" />
        <activity
            android:name=".onboarding.signupaccount"
            android:theme="@style/Theme.Saba"
            android:exported="false" />
        <activity
            android:name=".sabaDrawerActivity"
            android:theme="@style/Theme.Saba"
            android:exported="false" />
        <activity
            android:name=".sabaVendorDrawerActivity"
            android:theme="@style/Theme.Saba"
            android:exported="false" />
        <activity
            android:name=".sabaplannerDrawerActivity"
            android:theme="@style/Theme.Saba"
            android:exported="false" />

        <activity
            android:name=".events.createevent"
            android:theme="@style/Theme.Saba"
            android:exported="false" />
        <activity
            android:name=".events.chooseservices"
            android:theme="@style/Theme.Saba"
            android:exported="false" />

        <activity
            android:name=".events.setupbudgets"
            android:theme="@style/Theme.Saba"
            android:exported="false" />

        <activity
            android:name=".events.vendormatching"
            android:theme="@style/Theme.Saba"
            android:exported="false" />

        <activity
            android:name=".events.finalizesetup"
            android:theme="@style/Theme.Saba"
            android:exported="false" />

        <activity
            android:name=".vendors.addcatalogue"
            android:theme="@style/Theme.Saba"
            android:exported="false" />



    </application>

</manifest>